@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: hsl(217, 19%, 35%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-card{
    width: 420px;
    height: 280px;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
}

.author-profile-icon img{
    width: 36px;
    border-radius: 400px;
}

.drawers{
    width: 350px;
    object-fit: contain;
    border-radius: 10px 0px 0px 10px;
}

.article-headline{
    font-size: 18px;
    font-weight: bold;
    padding: 32px 40px 0px 40px;
    width: 330px;
}

.article-description{
    font-size: 13px;
    padding: 14px 38px 0px 40px;
    line-height: 22px;
    color: hsl(214, 17%, 51%);
}

.article-author{
    display: flex;
    align-items: center;
    padding: 22px 40px 0px 40px;
    justify-content: space-between;
}

.author-info{
    display: flex;
}

.article-author-name{
    font-weight: bold;
    font-size: 13px;
}

.article-publish-date{
    font-size: 12px;
    color:  hsl(214, 17%, 51%);
}

.article-author-info{
    padding-left: 12px;
}

.share-button{
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.share-button img{
    padding-left: 1px;
}

.share-button:hover{
    background-color: hsl(210, 46%, 95%);
    cursor: pointer;
}

#share-apps-div{
    display: block;
}

@media(max-width : 600px) {
    body{
        background-color: black;
    }
}